.rounded-5{
    border-radius: 0.5rem;
}
.filters{
    span{
        width:100%;
        margin: 0px 20px;
    }
    input{
        width: 150px;
        text-align: center;
    }
}
.principal{
    margin-top: 100px;
}
